.header {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
}

.header .navbar img {
    width: 289px;
    height: auto;
}

.header .nav-menu {
    display: flex;
}

.header .nav-item {
    padding: 1rem;
}

.hamburger {
    display: none;
}

@media (max-width: 940px) {
    .header {
        max-width: 100%;
        background-color: #000;
    }

    .header .navbar {
        max-width: 100%;
    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #000;
        width: 100%;
        height: 90vh;
        z-index: 99;
        text-align: center;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu a {
        color: #fff;
    }

    .nav-item {
        margin: .8rem 0;
    }

    .header .navbar img {
        width: 249px;
    }
}
